@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* A file to gather my custum fonts so to not have too many font related ClassName attributes in the components files */

/* Header */
.Header {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: left;
}

/* Title 1 */
.Title1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

/* Title 2 */
.Title2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

/* Body highlight */
.BodyHighlight {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

/* Body */
.Body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
